<html>
  <head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
    <meta charset:UTF-8>
    <title>Lista de Tareas</title>
  </head>
  <body>
    <form action='/seleccion/accion/agregar' method='post'>
      <input type="text" name="nuevaTarea" placeholder="Ingresa el nombre de la nueva tarea"><br>
      <button type="submit" name="accion" value="Agregar tarea">Agregar tarea</button>
    </form>
  </body>
</html>
