<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
      <meta charset:UTF-8>
      <title>Lista de Tareas</title>
    </head>
    <style>
    button {font-family: 'Gloria Hallelujah', cursive; font-weight: bold; font-size:30px;}
    h1 {font-family: 'Gloria Hallelujah', cursive; text-align: center; color: orange;font-size: 60;}
    body {background-color: lightgray;}
    .wrapper{text-align: center;margin-top: 20px;}
    img {margin-left: auto; margin-right: auto;margin-top: 50px; margin-bottom: 50px; height: 500px;}
    .wrapper-img {background-color: gray;}
    </style>
    <body>
    <% if params[:selected]==nil %>
      <h1> No ha seleccionado ninguna tarea para eliminar <h1>
        <div class="wrapper-img">
          <img src="https://printablefreecoloring.com/image/objects/drawing-light-bulb-6.png">
        </div>
    <%else%>
      <h1> Está seguro de que desea eliminar las tareas seleccionadas?</h1>

      <form class="form-inline" action='/seleccion/accion/eliminar' method='post'>
        <div class="wrapper">
          <button class="btn btn-default" type="submit" name="eliminar" value="Cancelar">Cancelar</button>
          <button class="btn btn-warning" type="submit" name="eliminar" value="Eliminar">Eliminar</button>
        </div>
      </form>
    <%end%>
    </body>
  </html>
