<!DOCTYPE html>
<html>
  <head>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
    <meta charset:UTF-8>
    <title>Lista de Tareas</title>
  </head>
  <body>
    <form action='/seleccion' method='post'>
      <div class="row">
        <button type="submit" name="seleccion" value="All">All</button>
        <button type="submit" name="seleccion" value="Completed">Completed</button>
        <button type="submit" name="seleccion" value="Uncompleted">Uncompleted</button>
      </div>
    </form>
  </body>
</html>
